@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap');

.grid-container {
  display: grid;
  grid-gap: 70px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-item-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-item-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-item-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-item-8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-item-9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*image 1 wouldnt respond using the .image class*/
.image,
#img1 {
  width: 450px;
  height: 280px;
}

img:hover {
  box-shadow: 5px 5px #888888;
}

footer {
  text-align: center;
  font-size: 1em;
  margin-top: 70px;
  background-color: #ffe89e;
  color: #536d83;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin-left: 20px;
}

h4 {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  padding-left: 10px;
}

.header {
  background-color: #ffe89e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
}

.icon_img {
  width: 50px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

nav {
  margin: 0 auto;
  background-color: #536d83;
}

.navigation {
  display: flex;
  color: #ffe89e;
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: auto;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  text-align: center;
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #abc0c6;
  border-top: 1px solid #abc0c6;
}

.navigation li:first-child {
  display: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin-left: 20px;
}

h3 {
  background-color: #ffe89e;
  color: #536d83;
}

h4 {
  font-size: 22px;
  font-family: 'Indie Flower', cursive;
  padding-left: 10px;
  color: #536d83;
}

.header {
  color: #536d83;
  background-color: #ffe89e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
}

@media only screen and (max-width: 760px) {
  footer {
    text-align: center;
    font-size: 1em;
    margin-top: 30px;
    background-color: #ffe89e;
    color: #536d83;
    font-family: 'Comfortaa', cursive;
  }
  .image,
  #img1 {
    width: 212px;
    height: 150px;
  }
  .grid-container {
    display: grid;
    grid-gap: 30px;
  }
}
