@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h3 {
  background-color: #f2e9e4;
  font-family: 'Lobster', cursive;
  text-align: center;
}

#icon_img {
  margin-left: 50px;
  width: 15%;
}

section {
  height: 50px;
  background-color: #f2e9e4;
  margin-top: -35px;
}

.nav-link {
  margin: auto;
  align-content: center;
  padding-left: 50px;
}

h1 {
  font-family: 'Lobster', cursive;
}

body {
  padding: 30px;
}

footer {
  margin-top: 50px;
}

#addy {
  float: left;
  font-size: 18px;
  padding-left: 65px;
}

#contact {
  font-size: 18px;
  padding-left: 510px;
  padding-top: 10px;
}

#map {
  align-content: center;
  margin: 0% 10% 0% 10%;
}

/*tablet view*/
@media screen and (min-width: 700px) {
  section {
    height: 70px;
  }
  .nav-link {
    content: space-around;
    padding: 4.5%;
    font-size: 18px;
  }
}

/*desktop view*/
@media screen and (min-width: 1500px) {
  #icon_img {
    align-content: center;
    width: 10%;
    margin: auto;
    margin: 0% 40% 0% 45%;
  }
  section {
    height: 70px;
    margin-top: -45px;
  }
  .nav-link {
    padding: 6.5%;
    margin: 0px 0px 0px 20px;
  }
}
