@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#temple_img {
  width: 70%;
  margin: 10px 0px 0px 15%;
}

h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

p {
  text-align: center;
  padding: 0px 20px;
}

#button {
  margin: auto;
  margin-left: 230px;
}

footer {
  margin-top: 10px;
}

/*tablet view*/
@media screen and (min-width: 700px) {
  #button {
    margin: center;
    padding: 0% 18% 0% 18%;
  }
}

/*desktop view*/
@media screen and (min-width: 1000px) {
  #button {
    margin: 0% 10% 0% 28%;
  }
}
