/*header and footer*/
#icon_img {
  margin-left: 50px;
  width: 15%;
}

section {
  height: 50px;
  background-color: #f2e9e4;
  margin-top: -35px;
}

.nav-link {
  margin: auto;
  align-content: center;
  padding-left: 50px;
}

a:hover {
  color: #8a8c98;
}

a:visited {
  color: #c9ada7;
}

footer {
  background-color: #f2e9e4;
  text-align: center;
}

/*tablet view*/
@media screen and (min-width: 700px) {
  section {
    height: 70px;
  }
  .nav-link {
    content: space-around;
    padding: 5%;
    font-size: 18px;
  }
}

/*desktop view*/
@media screen and (min-width: 1500px) {
  #icon_img {
    align-content: center;
    width: 10%;
    margin: auto;
    margin: 0% 40% 0% 45%;
  }
  section {
    height: 70px;
    margin-top: -45px;
  }
  .nav-link {
    padding: 7.2%;
    margin: 0px 0px 0px 20px;
  }
}
