#Oklahoma {
  margin-bottom: 100%;
  margin-top: 5%;
}

#Rexburg {
  margin-bottom: 170%;
  margin-top: 5%;
}

#Kansas {
  margin-bottom: 180%;
  margin-top: 100%;
}

#Idaho {
  margin-bottom: 80%;
  margin-top: 5%;
}

img {
  width: 20%;
  align-content: center;
}

main {
  padding: 0px 30px 30px 30px;
}

table {
  background-color: #c9ada7;
  width: 100%;
  border-collapse: collapse;
  padding: 13px 40px;
  color: black;
  margin: auto;
  table-layout: fixed;
}

table:nth-of-type(odd) {
  background-color: #f2e9e4;
}

th,
td {
  border: 1px solid black;
  overflow: hidden;
}

td {
  padding: 0.5rem;
}
