#Oklahoma {
  margin-bottom: 120%;
  margin-top: 5%;
}

#Rexburg {
  margin-bottom: 200%;
  margin-top: 5%;
}

#Kansas {
  margin-bottom: 155%;
  margin-top: 100%;
}

#Idaho {
  margin-bottom: 0%;
  margin-top: 0%;
}

#weather {
  margin-top: 240%;
}

img {
  width: 20%;
  align-content: center;
}

main {
  padding: 0px 30px 30px 30px;
}

table {
  background-color: #c9ada7;
  width: 100%;
  border-collapse: collapse;
  padding: 13px 40px;
  color: black;
  margin: auto;
  table-layout: fixed;
}

table:nth-of-type(odd) {
  background-color: #f2e9e4;
}

th,
td {
  border: 1px solid black;
  overflow: hidden;
}

td {
  padding: 0.5rem;
}

footer {
  margin-top: 60%;
}

/*tablet view*/
@media screen and (min-width: 750px) {
  #Oklahoma {
    margin-bottom: 90%;
    margin-top: 5%;
  }

  #Rexburg {
    margin-bottom: 155%;
    margin-top: 5%;
  }

  #Kansas {
    margin-bottom: 110%;
    margin-top: 100%;
  }

  #Idaho {
    margin-bottom: 0%;
    margin-top: 0%;
  }

  #weather {
    margin-top: 185%;
  }

  footer {
    margin-top: 52%;
  }
}

/*desktop view*/
@media screen and (min-width: 910px) {
  body {
    color: brown;
  }
  #Oklahoma {
    margin-bottom: 75%;
    margin-top: 5%;
  }

  #Rexburg {
    margin-bottom: 120%;
  }

  #Kansas {
    margin-bottom: 88%;
    margin-top: 100%;
  }

  #Idaho {
    margin-bottom: 0%;
    margin-top: 0%;
  }

  #weather {
    margin-top: 138%;
  }

  footer {
    margin-top: 45%;
  }
}
