@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #508991;
  padding: 10px;
  grid-column-gap: 40px;
}

.item1,
.item2,
.item3 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

header {
  background-color: #004346;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
