@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap');

.content {
  background-color: #abc0c6;
  color: #536d83;
  margin: 0 auto;
}

main {
  padding: 1.2em;
}

.icon_img {
  width: 50px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

body {
  margin-left: 1em;
  margin-right: 180px;
  margin-left: 180px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin-left: 20px;
}

h4 {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  padding-left: 10px;
}

p,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h6 {
  font-size: 12px;
  margin-top: -15px;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

header {
  background-color: #ffe89e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
}

nav {
  margin: 0 auto;
  background-color: #536d83;
}

.navigation {
  display: flex;
  color: #ffe89e;
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: auto;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  text-align: center;
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #abc0c6;
  border-top: 1px solid #abc0c6;
}

.navigation li:first-child {
  display: none;
}

footer {
  text-align: center;
  font-size: 1em;
  margin-top: 50px;
  background-color: #ffe89e;
  color: #536d83;
  font-family: 'Comfortaa', cursive;
}

.grid-container {
  display: grid;
  padding-top: 30px;
  grid-gap: 50px;
  text-align: center;
  margin-top: 10px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f1efe8;
  padding-bottom: 200px;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f1efe8;
  padding-bottom: 200px;
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f1efe8;
  padding-bottom: 200px;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #f1efe8;
  padding-top: 50px;
}
.item5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #f1efe8;
  padding-top: 50px;
}
.item6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #f1efe8;
  padding-top: 50px;
}

@media only screen and (max-width: 760px) {
  button {
    display: block;
    background-color: transparent;
  }
  /* .hide {
      display: none;
    } */
  ul.navigation.responsive li {
    display: block;
  }
  nav {
    display: block;
  }
  .navigation {
    overflow: hidden;
    display: block;
  }
  .navigation li:first-child {
    display: block;
  }
  .navigation li {
    display: none;
  }
  body {
    width: 100%;
  }
  .grid-container {
    padding-top: 30px;
  }
  footer {
    text-align: center;
    font-size: 1em;
    margin-top: 30px;
    background-color: #ffe89e;
    color: #536d83;
    font-family: 'Comfortaa', cursive;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #f1efe8;
    padding-right: 120px;
    height: 20px;
  }
  .item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f1efe8;
    padding-left: 120px;
    height: 20px;
  }
  .item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #f1efe8;
    padding-right: 120px;
    height: 20px;
  }
  .item4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #f1efe8;
    padding-top: 8px;
    height: 210px;
  }
  .item5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f1efe8;
    padding-top: 8px;
    height: 210px;
  }
  .item6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #f1efe8;
    padding-top: 8px;
    height: 210px;
  }
  h2 {
    font-size: 22px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    font-size: 14px;
  }
}
