// $font-family: 'Poppins', sans-serif;
// $para-font-family: 'Bitter', serif;
$background-color: white;
$header-color: #88aa99;
$main-color: #6b9080;
$third-color: #eaf4f4;
$fourth-color: rgba(204, 227, 222, 75%);
$fifth-color: #a4c3b2;
