@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.content {
  background-color: #abc0c6;
  color: #536d83;
  width: 80%;
  margin: 0 auto;
}
main {
  padding: 1.2em;
}
body {
  margin-left: 1em;
  background-color: #f1efe8;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

header {
  background-color: #ffe89e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
}

nav {
  margin: 0 auto;
  background-color: #536d83;
}

.navigation {
  display: flex;
  color: #ffe89e;
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: auto;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  text-align: center;
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #abc0c6;
  border-top: 1px solid #abc0c6;
}

.navigation li:first-child {
  display: none;
}

#fiveday li {
  display: inline-block;
  padding: 13px 40px;
  list-style: none;
  font-size: 15px;
  text-align: center;
}

#article {
  background-color: #536d83;
  color: #abc0c6;
  padding: 2em;
}

footer {
  background-color: #abc0c6;
  color: #536d83;
  text-align: center;
  font-size: 1em;
  padding: 1em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  color: #536d83;
}

@media only screen and (max-width: 760px) {
  button {
    display: block;
    background-color: transparent;
  }
  /* .hide {
    display: none;
  } */
  ul.navigation.responsive li {
    display: block;
  }
  nav {
    display: block;
  }
  .navigation {
    overflow: hidden;
    display: block;
  }
  .navigation li:first-child {
    display: block;
  }
  .navigation li {
    display: none;
  }
}
